@model CRUD_Using_Repository.Models.User
@{
    ViewData["Title"] = "AddUser";
}

<div class="container">
    <div class="row">
       <div class="col-6 offset-3 border border-4 rounded rounded-3 p-4">
           <h3 class="text-info p-2 m-1 text-center">Add Product</h3>
           <form method="post" asp-action="AddUser">
               <div class="form-check">
                   <label asp-for="Product_Name"></label>
                   <input type="text" asp-for="Product_Name" class="form-control" placeholder="Enter Product Name"/>
               </div>
                <div class="form-check">
                    <label asp-for="Stock"></label>
                    <input type="number" asp-for="Stock" class="form-control" placeholder="Enter Stock" />
                </div>
               <div class="form-check">
                    <label asp-for="Price"></label>
                    <input type="number" asp-for="Price" class="form-control" placeholder="Enter Price in $" />
               </div>
               <div class="form-check">
                    <label asp-for="Category"></label>
                    <input type="text" asp-for="Category" class="form-control" placeholder="Enter Category" />
                </div>
    
                <div>
                    <input type="submit" class="btn btn-sm btn-primary m-2 p-2 float-end" value="Save" />
                </div>
           </form>
       </div>
    </div>
</div>

