@model CRUD_Using_Repository.Models.User
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <div class="col-6 offset-3 border border-4 rounded rounded-3 p-4">
            <h3 class="text-info p-2 m-1 text-center">Upadate Product Record</h3>
            <form method="post" asp-action="Edit">
                <div class="form-check">
                    <label asp-for="Product_Name"></label>
                    <input type="text" asp-for="Product_Name" class="form-control" placeholder="Enter Product Name" />
                    <input type="hidden" asp-for="SKU"/>
                    <span class="text-danger" asp-validation-for="Product_Name"></span>
                </div>

                
                
                <div class="form-check">
                    <label asp-for="Stock"></label>
                    <input type="number" asp-for="Stock" class="form-control" placeholder="Enter Stock" min="0"/>
                    <span class="text-danger" asp-validation-for="Stock"></span>

                </div>

                <div class="form-check">
                    <label asp-for="Price"></label>
                    <input type="number" asp-for="Price" class="form-control" placeholder="Enter Price" />
                    <span class="text-danger" asp-validation-for="Price"></span>

                </div>
                <div class="form-check">
                    <label asp-for="Category"></label>
                    <input type="text" asp-for="Category" class="form-control" placeholder="Enter Category" />
                    <span class="text-danger" asp-validation-for="Category"></span>

                </div>

                <div>
                    <input type="submit" class="btn btn-sm btn-warning m-2 p-2 float-end" value="Update" />
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

